/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Galindo&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* ==== CUSTOM COLORS ==== */
:root
{
    --midnight-blue: #003B6D;
    --blue-sky: #6699CC;
    --silver: #BDBDBD;
    --dim-grey: #676767;
}
* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    padding: 0;
    margin: 0;
}
h1 {
    font-family: "Galindo", sans-serif;
    font-size: 1.5rem;
}
p, li, span {
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-size: 1.18rem;
}
b {
    font-family: "Zain", sans-serif;
}
a {
    font-family: "Zain", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--midnight-blue);
}

/* ==== CUSTOM BACKGROUNDS ==== */
.cat-background {
    background-image: url(/images/cat-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.dog-background {
    background-image: url(/images/dog-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bird-background {
    background-image: url(/images/bird-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* ==== NAVIGATION BAR ==== */
.checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: -5px;
    cursor: pointer;
    display: inline;
}
#check {
    display: none;
}

.nav-menu {
    display: inline-block;
    position: fixed;
    padding: 15px 0px 0px 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-sky);
    top: 50px;
    left: -150%;
    z-index: 999999;
    text-align: center;
    transition: all 0.3s;
    
}
.nav-menu a {
    display: inline-block;
    font-family: "Zain", sans-serif;
    text-decoration: none;
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease; 
}
.nav-menu li {
    list-style: none;
    padding-top: 30px;
    text-align: center;
}

#check:checked ~ .nav-menu {
    left: 0;
}

.dropbtn {
    font-family: "Zain", sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    padding: 10px;
    margin-right: -25px;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; 

}
.dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin-left: 5px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.dropdown-menu li {
    padding-top: 15px;
}

.nav-menu a:hover, .dropbtn:hover {
    color: rgb(165, 255, 150);
    background-color: rgba(94, 106, 122, 0.6);
    transform: scale(1.1);
}
a.active {
    color: rgb(127, 255, 232);
}
.logo {
    display: inline;
    margin: 50px 0 0 10px;
    height: 40px;
}

/* ==== INTRODUCTORY IMAGE ==== */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-color: black;
    overflow: hidden;
}
.image-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/maci_sand_castle.png);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: 0;
}
.image-container h1 {
    color: white;
    position: relative;
    font-size: 1.3rem;
    text-wrap: wrap;
    text-align: center;
    font-weight: 400;
    z-index: 1;
}
.image-container.cat::before {
    background-image: url(/images/maddie.jpg);

}
.image-container.dog::before {
    background-image: url(/images/dog-picture.jpg);
}
.image-container.bird::before {
    background-image: url(/images/bird-looking.jpg);
}
.image-container.contact::before {
    background-image: url(/images/contact-us.jpg);
}

/* ==== HOME CONTAINER ==== */
.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}
.home-item-1 {
    background-color: rgb(216, 242, 220);
    border: 3px solid var(--midnight-blue);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    opacity: 0;
}
.home-item-2 {
    background-color: rgb(216, 241, 242);
    border: 3px solid var(--midnight-blue);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    opacity: 0;

}
.home-item-3 {
    background-color: rgb(242, 235, 216);
    border: 3px solid var(--midnight-blue);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    opacity: 0;

}
.contact-button {
    border: 2px solid var(--blue-sky);
    background-color: rgb(247, 251, 234);
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}
.contact-button a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.contact-button:hover {
    background-color: var(--blue-sky);
    border-radius: 10px;
}
.contact-button:hover a {
    color: white;
    font-weight: bold;
}

.home-item-4 {
    background-color: rgb(245, 227, 211);
    border: 3px solid var(--midnight-blue);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    opacity: 0;
}

/* ==== CAT CONTAINER ==== */
.cat-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px; 
    gap: 20px;
}
.cat-container h2, h3 {
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    text-align: center;
    padding: 0;
    margin: 0;
}
.cat-container h3{
    font-size: 1rem;
}

.cat-content-1, .cat-content-2, .cat-content-3, .cat-content-4, .cat-content-5 {
    padding: 15px;
    border-radius: 20px;
    border: 3px solid var(--midnight-blue);
    opacity: 0;
}
.cat-content-1 {
    opacity: 1;
}
.cat-content-1 {
    background-color: #bae8fc;
}
.cat-content-2 {
    background-color: #f9d4d4;
}
.cat-content-3 {
    background-color: #f9f4d4;
}
.cat-content-4 {
    background-color: #d4f9d4;
}
.cat-content-5 {
    background-color: #f6e3f9;
}

.cat-content-1:hover, .cat-content-2:hover, .cat-content-3:hover, .cat-content-4:hover, .cat-content-5:hover {
    transform: scale(1.04);
    transition: all 0.3s ease;
}

/* ==== DOG CONTAINER ==== */
.dog-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px; 
    gap: 20px
}
.dog-container h2 {
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    text-align: center;
    padding: 0;
    margin: 0;
}
.dog-content-1, .dog-content-2, .dog-content-3, .dog-content-4 {
    padding: 15px;
    border-radius: 20px;
    border: 3px solid var(--midnight-blue);
    opacity: 0;
}
.dog-content-1 {
    opacity: 1;
}

.dog-content-1 {
    background-color: #e8ffd5;
}
.dog-content-2 {
    background-color: #d4f5f9;
}
.dog-content-3 {
    background-color: #f9ede1;
}
.dog-content-4 {
    background-color: #d4f9d4;
}

.dog-content-1:hover, .dog-content-2:hover, .dog-content-3:hover, .dog-content-4:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}



/* ==== BIRD CONTAINER ==== */
.bird-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    padding: 15px; 
    gap: 20px
}
.bird-container h2 {
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    text-align: center;
    padding: 0;
    margin: 0;
}
.bird-container h1 {
    text-align: center;
    color: var(--blue-sky);
    width: 100%;
    background-color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.bird-content-1, .bird-content-2, .bird-content-3, .bird-content-4, .bird-content-5, .bird-content-6 {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    opacity: 0;
}
.bird-content-1 {
    background-color: #e8ffd5;
    opacity: 1;
}

.bird-content-2 {
    background-color: #effac5;
}
.bird-food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 15px;
}
.bird-food-list li {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}
.bird-food-title, 
.bird-food-description,
.bird-food-click {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-shadow: 2px 2px 12px black;
    z-index: 2;
    transition: all 0.2s ease;
}
.bird-food-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(125, 255, 159);
    opacity: 0;
}
.bird-food-description {
    top: 50%;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    opacity: 0;
}
.bird-food-click {
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 1;
    color: rgb(137, 255, 161);
}
.bird-food-image {
    width: 100%;
    height: 150px;
    border: 3px solid var(--blue-sky);
    border-radius: 10%;
    object-fit: cover;
    filter: grayscale(1);
    transition: all 0.3s ease;
}
.bird-food-list li:hover .bird-food-image {
    filter: grayscale(0);
    transform: scale(1.05);
}
.bird-food-list li:hover .bird-food-title,
.bird-food-list li:hover .bird-food-description {
    color: rgb(255, 255, 255); /* Brighter color on hover */
    background: rgba(0, 0, 0, 0.3); /* Dark background for better visibility */
    opacity: 1;
}
.bird-food-list li:hover .bird-food-click {
    opacity: 0;
}


.bird-content-3 {
    background-color: #f9ede1;
}
.bird-content-3 p {
    text-align: center;
}
.issues-solutions-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}
.issues-solutions-item-1, .issues-solutions-item-2, .issues-solutions-item-3 {
    background-color: rgba(255, 255, 255, 0.932);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--blue-sky);

}
.issues-solutions-item-1 h3, .issues-solutions-item-2 h3, .issues-solutions-item-3 h3 {
    background-color: #bae8fc;
    padding: 10px;
    border-radius: 20px;
}

.bird-content-4 {
    background-color: #fff7d7;
}
.bird-content-4 p {
    text-align: center;
}
.bird-environment-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.bird-environment-item-1 h3 {
    padding: 20px;
    background-color: rgb(91, 232, 152);
}
.bird-environment-item-2 h3 {
    padding: 20px;
    background-color: rgb(252, 146, 89);
}
.bird-environment-item-1, .bird-environment-item-2 {
    background-color: white;
    border: 2px solid var(--midnight-blue);
    border-radius: 5px;
    word-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
}

.bird-content-5 {
    display: flex;
    flex-wrap: wrap;
    background-color: #eef7e8;
    flex-direction: column;
    gap: 15px;
}
.bird-additional-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.bird-content-6 {
    background-color: #c9f0fe;
    text-align: center;
}

/* ==== GENERAL FAQ CONTAINER ==== */
.faq-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 25px 15px;
    gap: 20px;
}
.faq-container h2 {
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    color: var(--blue-sky);
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.553);
    background-color: rgba(255, 253, 224, 0.989);
}
details {
    background-color: rgb(214, 242, 243);
    border: 2px solid var(--midnight-blue);
    padding: 10px;
    width: 100%;
}
summary {
    font-family: "Zain", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
details[open] {
    border-radius: 15px;
    transition: all 0.1s ease;
}


/* ==== CONTACT FORM ==== */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.contact-item-1, .contact-item-2 {
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--midnight-blue);
    border-radius: 5px;
    padding: 15px;
}
.contact-item-1 h2 {
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    text-align: center;
}
.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.user-form label {
    font-family: "Zain", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
input, select {
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--midnight-blue);
    font-size: 1.1rem;
    font-family: "Zain", sans-serif;
}
option {
    font-family: "Zain", sans-serif;
    font-size: 1.1rem;
}
.submit-button {
    background-color: var(--midnight-blue);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Zain", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submit-button:hover {
    background-color: var(--blue-sky);
    color: white;
    transform: scale(1.05);
}
.success-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.success-item {
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--midnight-blue);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
/* ==== FOOTER ==== */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: var(--midnight-blue) 2px solid;
    background-color: rgb(255, 255, 255);
}
.social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding: 15px 0 15px 0;
    margin: 0;
}
.fa-facebook, .fa-instagram, .fa-twitter, .fa-pinterest {
    font-size: 2rem;
    color: rgb(25, 151, 255);
}
.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-pinterest:hover {
    color: var(--midnight-blue);
    transform: scale(1.1);
}
.text-logo {
    height: 50px;
    margin-bottom: 20px;
}



/* ==== ANIMATIONS ==== */
.home-item-1, .home-item-2, .home-item-3, .home-item-4 {
    animation: fadeIn 1s ease-in-out forwards;
}
.home-item-1 {
    animation-delay: 0.5s;
}
.home-item-2 {
    animation-delay: 1s;
}
.home-item-3 {
    animation-delay: 1.5s;
}
.home-item-4 {
    animation-delay: 2s;
}

.cat-content-1 {
    animation: jump 1s ease-in-out forwards;
}
.cat-content-2, .cat-content-3, .cat-content-4, .cat-content-5 {
    animation: fadeIn 1s ease-in-out forwards;
}
.cat-content-2 {
    animation-delay: 1s;
}
.cat-content-3 {
    animation-delay: 1.5s;
}
.cat-content-4 {
    animation-delay: 2s;
}
.cat-content-5 {
    animation-delay: 2.5s;
}

.dog-content-1 {
    animation: shake 1s ease-in-out forwards;
}
.dog-content-2, .dog-content-3, .dog-content-4 {
    animation: fadeIn 1s ease-in-out forwards;
}
.dog-content-2 {
    animation-delay: 1s;
}
.dog-content-3 {
    animation-delay: 1.5s;
}
.dog-content-4 {
    animation-delay: 2s;
}
.bird-content-1 {
    animation: fly-by 1s ease-in-out forwards;
}
.bird-content-2, .bird-content-3, .bird-content-4, .bird-content-5, .bird-content-6 {
    animation: fadeIn 1s ease-in-out forwards;
}
.bird-content-2 {
    animation-delay: 1s;
}
.bird-content-3 {
    animation-delay: 1.5s;
}
.bird-content-4 {
    animation-delay: 2s;
}
.bird-content-5 {
    animation-delay: 2.5s;
}
.bird-content-6 {
    animation-delay: 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
    
}
@keyframes fly-by {
    0% {
        transform: translate(-100%, 150px);
    }
    100% {
        transform: translateY(0);
    }
}

/* ===== RESPONSIVE DESIGN ===== */
@media (min-width: 768px) {
    .home-item-1 {
        grid-column: 1 / 3;
    }
    .home-item-4 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}
@media (min-width: 915px) {
    .home-item-1 {
        grid-column: 1 / 4;
    }
    .home-item-2 {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        height: 250px;
    }
    .home-item-3 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .home-item-4 {
        grid-column: 3 / 4;
        grid-row: 4 / 2;
    }
    .cat-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }
    .cat-content-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .cat-content-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}
@media screen and (min-width: 1024px) {
    iframe {
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 250px;
    }
}
@media screen and (min-width: 1238px) {
    nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 279px; /* Sidebar width */
        height: 100vh;
        background-color: #b7e6fc;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers items horizontally */
        justify-content: flex-start;
        padding-top: 20px;
        border-right: 3px solid var(--midnight-blue);
    }
    .logo {
        width: 100%;
        height: auto;
        max-width: 100px;
        margin-bottom: 20px;
    }
    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        left: 0;
        top: 350px;
        width: 0%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: transparent;
    }
    .nav-menu li {
        width: 100%;
    }
    .nav-menu a, .dropbtn {
        display: block;
        width: 250px;
        padding: 15px;
        margin: 0;
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        text-align: center;
        border-bottom: 2px solid var(--dim-grey);
    }
    .nav-menu a:hover, .dropbtn:hover {
        color: var(--midnight-blue) !important;
        background-color: #e1f8ff !important;
    }
    .nav-menu a.active {
        color: var(--midnight-blue) !important;
        background-color: #e1f8ff !important;
    }
    .dropbtn {
        margin: 0;
        width: 279px !important;
    }
    .dropdown-menu {
        margin: 0;
    }
    .dropdown-menu li{
        padding: 0;
    }
    .nav-menu a:hover, .dropbtn:hover {
        background-color: #bbb;
    }
    .checkbtn, #check {
        display: none !important;
    }
    .nav-menu a:hover, .dropbtn:hover {
        color: rgb(165, 255, 150);
        background-color: rgba(94, 106, 122, 0.6);
        transform: scale(1);
    }
    /* Push main content to the right */
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 280px; /* Adjust this based on the sidebar width */
        padding: 20px;
    }
    footer {
        margin-left: 280px; /* Adjust this based on the sidebar width */
    }

    .content-flex {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }
    .content-flex p {
        flex: 1;
    }
    .content-flex iframe {
        flex-shrink: 0;
        width: 250px;
        height: 250px;
        margin: auto 0;
    }
}
@media screen and (min-width: 1600px) {
    .nav-menu a, .dropbtn, .dropdown-menu a {
        font-size: 1.5rem;
    }
    summary {
        font-size: 1.4rem;
    }
    details p, a {
        font-size: 1.3rem;
    }
    .image-container h1 {
        font-size: 3rem;
    }
    .home-container p, .cat-container p, .dog-container p, .bird-container p, .contact-container p {
        font-size: 1.4rem;
    }
    .bird-food-list .bird-food-title, .bird-food-list .bird-food-description{
        font-size: 1.2rem;
    }
    .issues-solutions-container {
        flex-wrap: nowrap;
        padding: 10px;
    }
    .bird-environment-container {
        flex-wrap: nowrap;
    }
    .bird-content-2 ul li, span {
        font-size: 1.4rem;
    }
    .success-container p {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1900px) {
    .content-flex iframe {
        width: 500px;
        height: 300px;
    }
    .bird-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }
}